body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
* {
    box-sizing: border-box;
}
header {
    text-align: right;
    width: 100%;
    border: 0px solid red;
}
header nav ul {
    list-style: none;
    margin-right: 10px;
    text-align: right;
}
header nav ul li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}
main {
    padding: 1em;
}

input, select {
    width: auto;
    padding:5px;
    margin:5px 0;
    border-radius: 3px;
    font-size:14px;
    border: none;
    background-color: #4f5c87;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
#submitButton {
    width:50%;
    margin:15px auto;
    display:block;
    padding:5px;
}
.delButton {
    font-size:20px;
    background-color:transparent;
    border:none;
    float: right;
}
table:not(#adminTable) {
    padding: 14px;
    float: left;
    margin: 20px;
    background-color: #FFFA94;
    box-shadow: #cfcfcf 5px 5px 15px;
}
.wrong{
    color: red;
}

#adminUser, #userForm {
    width: 50%;
    background: rgb(47,56,100);
    background: radial-gradient(circle, rgba(47,56,100,1) 50%, rgba(24,31,74,1) 100%);
    color: white;
    margin: auto;
    padding: 3%;
    padding-left: 8%;
    margin-top: 3%;
    box-shadow: 5px 5px 15px #cfcfcf;
    border-radius: 10px;
}

input #adminUser {
    width: 400px;

}

#Go {
    background-color: #f76bac;
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 103%;
    margin-top: 15%;
}

h1, h2 {
    color: #f76bac;
    margin-left: 25.1%;
}