body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
* {
    box-sizing: border-box;
}
header {
    text-align: right;
    width: 100%;
    border: 0px solid red;
}
header nav ul {
    list-style: none;
    margin-right: 10px;
    text-align: right;
}
header nav ul li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}
main {
    padding: 1em;
}

input {
    width:30%;
    padding:5px;
    margin:5px 0;
    border:1px solid grey;
    border-radius: 3px;
    font-size:14px;
}
#submitButton {
    width:50%;
    margin:15px auto;
    display:block;
    padding:5px;
}
.delButton, .upButton {
    font-size:20px;
    background-color:transparent;
    border:none;
    text-align:center;
    display:block;
    margin:auto;
}
table{
    outline: 1px solid;
    padding: 14px;
    float: left;
    margin: 20px;
}
.wrong{
    color: red;
}
